<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VinsFTP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <VinsFTP.Properties.Settings>
            <setting name="host" serializeAs="String">
                <value />
            </setting>
            <setting name="user" serializeAs="String">
                <value />
            </setting>
            <setting name="pass" serializeAs="String">
                <value />
            </setting>
            <setting name="kb" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="split" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gpg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="localdir" serializeAs="String">
                <value />
            </setting>
            <setting name="dlname" serializeAs="String">
                <value />
            </setting>
            <setting name="dlsize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="hidechunks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rnamelist" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>null</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="lnamelist" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>empty</string>
                    </ArrayOfString>
                </value>
            </setting>
        </VinsFTP.Properties.Settings>
    </userSettings>
</configuration>